name: Run Test

env:
  UV_SYSTEM_PYTHON: 1

on:
  push:
    branches: ['main']
    branches: ['main']
  pull_request:
    branches: ['main']

    branches: ['main']

jobs:
  uv-test:
    name: python
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install the project
        run: make install

      - name: Format with black
        run: uv run black .

      - name: Commit formatted code
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'style: auto-format with black'
          file_pattern: '*.py'

      - name: Run tests
        run: make test
