name: Run Test

env:
  UV_SYSTEM_PYTHON: 1

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  uv-test:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: make install

      - name: Run tests
        run: make test
